* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  background-color: #F5F5F5;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
header {
  padding: 24px 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-btn {
  color: #006a50;
  font-weight: bolder;
  font-size: 18px;
  border: 1px solid #006a50;
  padding: 15px 30px;
  border-radius: 8px;
  background-color: #ffffff;
}
.hero-parent {
  background-color: #c6e4d6;
  display: flex;
  justify-content: space-between;
  border-radius: 24px;
  gap: 64px;
  align-items: center;
  padding: 60px;
}
.hero-parent h2 {
  color: #0e0e0e50;
  font-weight: 500;
  font-size: 24px;
}
.hero-parent p {
  color: #0E0E0E;
  font-size: 56px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 24px;
}
.my-btn2 {
  color: #FFFFFF;
  font-weight: bolder;
  font-size: 18px;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  background-color: #006A50;
}

.pillars-parent {
  margin: 80px auto;
}
.pillars-parent h1 {
  font-size: 40px;
  font-weight: bold;
  color: #0E0E0E;
  margin-bottom: 32px;
}
.pillars-card {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.pillars-card-info img {
  width: 50px;
  height: 50px;
}
.pillars-card-info {
  display: flex;
  justify-content: center;
  align-items: column;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #0e0e0e24;
  border-radius: 16px;
  padding: 25px;
  background-color: #FFFFFF; 
}

.vision-parent {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.vision-text h1 {
  color: #0E0E0E;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}
.vision-text p {
  color: #0e0e0e70;
  line-height: 24px;
}
.vision-card {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.vision-card-info img {
  width: 64px;
  height: 64px;
}
.vision-card-info {
  border: none;
  background-color: #D5E1F5;
  padding: 32px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: start;
  border-radius: 16px;
}
.blue {
  background-color: #528DEF;
}
.green {
  background-color: #09A15C;
}
.yellow {
  background-color: #FFC239;
}
.vision-card-info:nth-child(2) {
  background-color: #C6E4D6;
}

.vision-card-info:nth-child(3) {
  background-color: #F7EBCF;
}

.vision-subtext {
  position: relative;
  padding: 48px 24px;
  background-color: #FFFFFF;
  border-radius: 16px;
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.vision-subtext .quote-img {
  position: absolute;
  opacity: 0.3;
  font-size: 65px;
  z-index: 0;
  top: 23px;
  left: 0;
}
.vision-subtext p {
  line-height: 24px;
  color: #0e0e0e80;
  /* margin-top: 5px; */

}
.vision-subtext h3 {
  color: #0e0e0eb8;
  font-weight: 600;
}
.opinion-parent {
  margin: 80px auto;
}
.opinion-parent h1 {
  font-size: 40px;
  color: #0E0E0E;
  margin-bottom: 24px;
}
.opinion-table {
  background-color: #FFFFFF;
  padding: 32px;
  border-radius: 16px;
}
.opinion-table table {
  width: 100%;
  border-collapse: collapse;
}
.opinion-table table th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}
/* .opinion-table table thead tr th {
  border: none;
} */
 .opinion-table th:first-child{
  border-right: none;
 }
.opinion-table th:nth-child(2){
  border-left: none;
 }
 .opinion-table th:first-child, td:first-child {
  text-align: left;
 }
 .opinion-table th:last-child, td:last-child {
  text-align: right;
 }
 .opinion-table table thead tr {
  background-color: #C6E4D6;
 }
 .table-btn {
  background-color: #C6E4D6;
  padding: 10px 16px;
  border-radius: 4px;
  border: 1px solid black;
 }