* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-thin-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-extralight-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-light-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  background-color: #F5F5F5;
}
.container {
  max-width: 1280px;
  margin: auto;
}
header {
  padding: 24px 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-btn {
  color: #006a50;
  font-weight: bolder;
  font-size: 18px;
  border: 1px solid #006a50;
  padding: 15px 30px;
  border-radius: 8px;
  background-color: #ffffff;
}
.hero-parent {
  background-color: #c6e4d6;
  display: flex;
  justify-content: space-between;
  border-radius: 24px;
  gap: 64px;
  align-items: center;
  padding: 60px;
}
.hero-parent h2 {
  color: #0e0e0e50;
  font-weight: 500;
  font-size: 24px;
}
.hero-parent p {
  color: #0E0E0E;
  font-size: 56px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 24px;
}
.my-btn2 {
  color: #FFFFFF;
  font-weight: bolder;
  font-size: 18px;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  background-color: #006A50;
}

.pillars-parent {
  margin: 80px auto;
}
.pillars-parent h1 {
  font-size: 40px;
  font-weight: bold;
  color: #0E0E0E;
  margin-bottom: 32px;
}
.pillars-card {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.pillars-card-info img {
  width: 50px;
  height: 50px;
}
.pillars-card-info {
  display: flex;
  justify-content: center;
  align-items: column;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #0e0e0e24;
  border-radius: 16px;
  padding: 25px;
  background-color: #FFFFFF; 
}